[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
geemap = "*"
wxee = "*"
ipykernel = "*"
gdown = "*"
folium = "*"
pyproj = "*"
rio-cogeo = "*"
earthengine-api = "*"
openpyxl = "*"
geopandas = "*"
geojson = "*"
requests-cache = "*"
colorcet = "*"
matplotlib = "*"
holoviews = "*"
xarray = "*"
xee = "*"
scikit-learn = "*"
rasterio = "*"
python-dotenv = "*"
keras = "*"
tensorflow = "*"
scikit-image = "*"
seaborn = "*"
pydot = "*"
pydotplus = "*"
planetary-computer = "*"
pystac-client = "*"
odc-stac = "*"
hvplot = "*"
panel = "*"
pandas = "*"
rioxarray = "*"
cartopy = "*"
geoviews = "*"
jupyter-bokeh = "*"
datashader = "*"
kagglehub = "*"
torchgeo = "*"
jenkspy = "*"
np-utils = "*"

[requires]
python_version = "3.11"

[dev-packages]
ipykernel = "*"
black = "*"
radon = "*"
vulture = "*"
pylint = "*"
pylint-json2html = "*"
isort = "*"
mypy = "*"
pretty-errors = "*"
ruff = "*"