[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
geemap = "==0.29.6"
wxee = "==0.4.1"
ipykernel = "*"
gdown = "==4.7.1"
folium = "==0.15.1"
pyproj = "==3.6.1"
rio-cogeo = "==5.1.1"
earthengine-api = "*"
openpyxl = "==3.1.2"
pygeoboundaries = "==0.0.2"
geopandas = "*"
geojson = "==3.1.0"
requests-cache = "==1.1.1"
colorcet = "==3.0.1"
matplotlib = "==3.8.2"
holoviews = "==1.18.2"
xarray = "*"
xee = "==0.0.8"
fuzzywuzzy = "==0.18.0"
python-levenshtein = "==0.25.0"
scikit-learn = "==1.4.1.post1"
rasterio = "==1.3.9"
python-dotenv = "*"
keras = "*"
tensorflow = "*"
scikit-image = "*"
seaborn = "*"
pydot = "*"
pydotplus = "*"
planetary-computer = "*"
pystac-client = "*"
odc-stac = "*"
hvplot = "*"
panel = "*"
pandas = "*"
rioxarray = "*"
cartopy = "*"
geoviews = "*"
jupyter-bokeh = "*"
datashader = "*"
kagglehub = "*"
torchgeo = "*"
jenkspy = "*"
np-utils = "*"

[requires]
python_version = "3.11"

[dev-packages]
ipykernel = "*"
black = "*"
pre-commit = "*"
radon = "*"
vulture = "*"
pylint = "*"
pylint-json2html = "*"
isort = "*"
mypy = "*"
pretty-errors = "*"
ruff = "*"